.seventhSection {
    width: 100%;
    height: auto;
}

.seventhSection h2 {
    margin-top: 130px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 500;
}

.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.leftSide {
    width: 70%;
    height: auto;
    background-color: var(--pale-accent);
    padding: 20px; /* учитывать отступы в ширине */
}

.rightSide {
    width: 28%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pale-accent);
    box-sizing: border-box; /* учитывать отступы в ширине */
}

.titleOfAlbumsBlock {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .seventhSection h2 {
        margin-top: 50px;
    }

    .leftSide {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /* сокрытие блока с последними релизами (альбомами) */
    .rightSide {
        display: none;
    }
}