.backButton {
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    color: var(--bs-black);
    text-decoration: none;
}

.backButton:hover {
    text-decoration: 1px underline;
    text-underline-offset: 0.15em;
}