.eighthSection {
    margin-top: 130px;
}

.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.wrapper h3 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 50px;
}

@media (max-width: 768px) {

    .eighthSection {
        margin-top: 30px;
    }

    .wrapper {
        max-width: 100vw;
        width: 100vw;
    }

    .wrapper h3 {
        font-size: 25px;
        padding-bottom: 30px;
    }
}