.tag {
    transition: color .2s ease;
    color: var(--color-tag)
}

.tag:hover {
    color: var(--hover-tag);
}

.noHover:hover {
    color: var(--bs-black) !important;
  }

.black {
    color: var(--bs-black);
}

.underlined_black {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

.noUnderline {
    text-decoration: none;
}

.small {
    font-size: 16px;
}

.medium {
    font-size: 18px;
}

.big {
    font-size: 20px;
}

.large {
    font-size: 24px;
}

.huge {
    font-size: 28px;
}