.wrapper {
  max-width: 1685px;
  width: 89%;
  margin: 0 auto;
}

.fifthSection .wrapper {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifthSection h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--bs-black);
  letter-spacing: 5px;
}

.title {
    color: var(--bs-black);
    text-decoration: none;
}

.title:hover {
    text-decoration: underline 1.4px;
    text-underline-offset: 0.1em;
}

.fifthSection {
  padding: 40px 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
  margin-top: 70px;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 768px) {

  .fifthSection .wrapper {
    margin-top: 0px;
  }

  .wrapper {
    max-width: 100vw;
    width: 100vw;
  }
  
  .fifthSection h2 {
    font-size: 27px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
}