.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  overflow: hidden;
  background-color: var(--bs-white);
}

.imageWrapper {
  width: 100%;
}

.card .image {
  width: 100%;
  height: 430px;
  object-fit: cover;
  /* Картинка масштабируется, сохраняя пропорции */
  object-position: top;
  /* Контролирует, какая часть изображения видна */
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-weight: 600;
  font-size: 25px;
}

.link {
  color: var(--bs-black);
  text-decoration: 1px underline;
  text-underline-offset: 0.15em;
}

.link:hover {
  text-decoration: 1.5px underline;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}