.adWraper {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: var(--bs-black);
}

.container {
    max-width: 1685px;
    width: 89%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.adWraper span {
    font-family: "Libre Baskerville";
    color: var(--bs-white);
    font-size: 1.875rem;
}

.adWraper p {
    font-size: 1.375rem;
    color: var(--bs-white);
    margin: 0;
}

.adWraper p a {
    text-decoration: 0.5px underline;
    text-underline-offset: 0.2em;
    color: var(--bs-white);
}

.adWraper p a:hover {
    text-decoration: 1.5px underline;
}

@media (max-width: 768px) {
    .adWraper {
        height: 80px;
    }

    .container span {
        display: none;
    }

    .adWraper p {
        text-align: center;
        font-size: 1rem;
    }

    .adWraper p a {
        display: block;
    }
}