.link {
    width: auto !important;
    align-self: flex-start;
    padding: 15px 100px;
    font-size: 16px;
    text-align: center;
    color: var(--bs-black);
    border: solid var(--bs-black) 1px;
    border-radius: 5px;
    background-color: var(--bs-white);
    text-decoration: none;
}

.link:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}