.accountWrapper {
    width: 100%;
    height: auto;
}

.topPart {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.justify {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.column> :first-child {
    text-decoration: 1.2px underline;
    text-underline-offset: 0.2rem;
    margin-bottom: 20px;
    color: var(--bs-black);
    font-size: 1.5625rem;
}

.column {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.userBlock img {
    width: 300px;
    height: 300px;
}

.name {
    margin-top: 10px;
    font-size: 1.875rem;
    font-weight: 600;
    color: var(--bs-black);
}

.dbValue {
  color: var(--bs-black);
}

.buttonGroup> :first-child {
    align-self: center;
}

.buttonGroup> :last-child {
    align-self: center;
    color: var(--color-tag);
    font-weight: 700;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
    margin-top: 20px;
}

.saveButton {
    font-weight: 600;
}

.avatarUpload {
  position: relative;
  z-index: 1; /* Убедитесь, что не перекрыт другими элементами */
}

.imgBlock {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}
.imgBlock:hover {
    border-color: #888;
}

.fallbackAvatar {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #888;
    border: 2px dashed #ccc;
    transition: border-color 0.3s ease;
}

.fallbackAvatar:hover {
    border-color: #888;
}

.editableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editIcon {
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .column {
        display: none;
    }

    .topPart {
        padding-top: 90px;
    }

    .userBlock {
        width: 95%;
        margin: 0 auto;
    }

    .name {
        font-size: 1.5625rem;
    }

    .userBlock img {
        width: 200px;
        height: 200px;
    }

    .subscriptionBlock h3 {
        margin-top: 50px;
        font-size: 1.875rem;
    }

    .subscriptionBlock p {
        margin-top: 10px;
        width: 100%;
        font-size: 1.375rem;
    }

    .subscriptionBlock form {
        gap: 15px;
        margin-top: 20px;
    }

    .subscriptionBlock form> :first-child {
        width: 100%
    }
}