.articlesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Стиль одной статьи */
.article {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

/* Стиль фото */
.articleImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

/* Стиль текстового блока */
.textBlock {
    padding: 15px;
    color: var(--bs-black);
}

.titleLink {
    font-size: 24px;
    font-weight: bold;
    color: var(--bs-black);
    text-decoration: none;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

.authorAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.author {
    font-size: 14px;
    color: var(--bs-gray-700);
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .heading {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .articleImage {
        height: 230px;
    }

    .titleLink {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }

    .readButton {
        font-size: 14px;
        padding: 6px 12px;
    }
}