.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.heading{
    margin-top: 100px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 35px;
}

.wrapper> :nth-child(3) {
    display: none;
}

@media (max-width: 768px) {
    .heading {
        font-size: 24px;
        margin: 40px 0;
    }

    .wrapper > :nth-child(2) {
        display: none;
    }

    .wrapper> :nth-child(3) {
        display: block;
    }
}