.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContent>*:first-child {
    margin-top: 0 !important;
}

.textContent {
    padding-top: 10px !important;
}

.wrapperForTitle {
    text-decoration: 0.5px underline;
    text-underline-offset: 0.2em;
    color: var(--bs-black);
}

.wrapperForTitle:hover {
    text-decoration: 1.5px underline;
}

.wrapperForTitle h3 {
    margin-top: 5px;
    letter-spacing: -1px;
    font-size: 28px;
    font-weight: 400;
    color: var(--bs-black);
}

.description {
    font-size: 20px;
}

.combinate {
    color: var(--bs-gray-600);
}