.wrapper {
    height: 950px;
    display: flex;
    margin-top: 70px;
}

.sidePic {
    width: 40%;
    height: 950px;
    object-fit: cover;
}

.rightSide {
    width: 30%;
    max-width: 38%;
    margin: 70px auto;
}

.topSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    font-family: "Libre Baskerville";
    color: var(--bs-black);
    font-size: 28px;
}

@media (max-width: 768px) {
    .sidePic {
        display: none;
    }

    .rightSide {
        min-width: 90%;
        width: 90%;
    }
}