.wrapper {
    height: 950px;
    display: flex;
    margin-top: 70px;
}

.sidePic {
    width: 40%;
    height: 950px;
    object-fit: cover;
}

.rightSide {
    width: 30%;
    max-width: 38%;
    margin: 70px auto;
}

.topSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    font-family: "Libre Baskerville";
    color: var(--bs-black);
    font-size: 28px;
}

.formWrapper {
    max-height: 100vh;
    /* Высота под форму, чтобы не упиралось в низ */
    overflow-y: auto;
    padding-right: 10px;
    /* Чтобы компенсировать скрытие скроллбара */

    /* Скрываем полосу прокрутки (работает в Chrome/Safari) */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.formWrapper::-webkit-scrollbar {
    display: none;
}


@media (max-width: 768px) {

    .wrapper {
        margin-top: 0px;
        padding-top: 20px;
    }

    .sidePic {
        display: none;
    }

    .rightSide {
        min-width: 90%;
        width: 90%;
    }
}