.line {
  width: 100%;
  height: 200px;
  background-color: var(--pale-accent);
}

.articleHeader {
  max-width: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 12px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
  font-weight: bold;
  color: var(--bs-black);
}

.description {
  color: var(--bs-black);
}

.publishedLabel {
  color: var(--bs-black);
}

.authorDateWrapper {
  display: flex;
  justify-content: space-between;
}

/* Кнопка избранного */
.favoriteButton,
.favoriteButtonActive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 16px;
  border-radius: 24px;
  border: none;
  background-color: var(--bs-black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  width: max-content;
  margin-top: 12px;
}

.favoriteButton svg {
  fill: var(--bs-white);
  transition: fill 0.2s ease-in-out;
}

.favoriteText {
  color: var(--bs-white);
}

.imageContainer {
  width: 100%; /* Ширина контейнера */
  height: 600px; /* Высота контейнера */
  overflow: hidden; /* Обрезает лишнее, если изображение больше контейнера */
}

.imageContainer img {
  width: 100%; /* Занимает всю ширину контейнера */
  height: 100%; /* Занимает всю высоту контейнера */
  object-fit: contain; /* Сохраняет пропорции без обрезки */
  object-position: center; /* Центрирует изображение */
}