.featuredImage {
    width: 850px;
    height: 420px;
    object-fit: cover;
}

.textContent> :first-child {
    color: var(--bs-black);
}

.mainFashionArticle .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.textContent {
    width: 650px;
    padding-top: 20px;
    align-self: center;
}

.mainName {
    color: var(--bs-black);
    text-underline-offset: 0.2em;
    text-decoration: 1.5px underline;
}

.mainName:hover {
    text-decoration: 2px underline;
}

.mainName h3 {
    padding-top: 10px;
    font-weight: 500;
    font-size: 1.875rem;
}

.descr {
    color: var(--bs-black);
    padding-top: 24px;
    font-size: 1.375rem;
}

.authorWrapper {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    gap: 5px;
}

.authorWrapper span {
    color: var(--bs-black);
    font-size: 1.125rem;
    font-style: italic;
}

.italic {
    font-style: italic;
}

@media (max-width: 768px) {

    .featuredImage {
        width: 100vw;
        height: 50vw;
        object-position: center;
    }

    .mainFashionArticle .wrapper {
        gap: 10px;
    }

    .textContent>* {
        margin-bottom: 0;
    }

    .textContent {
        max-width: 100vw;
        width: 100vw;
        padding: 10px 10px 0 10px;
        align-self: center;
    }

    .mainName h3 {
        font-size: 1.375rem;
    }

    .descr {
        padding-top: 10px;
        font-size: 1.25rem;
    }

    .authorWrapper {
        padding-top: 15px;
    }

    .authorWrapper:first-child {
        font-size: 1rem;
    }

    .authorWrapper> :last-child {
        font-size: 1rem;
    }
}