.firstSection .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.textBlock {
    display: flex;
    flex-direction: column;
    width: clamp(30%, 35vw, 40%);
}

.textBlock a span {
    font-size: 1.25rem;
    color: var(--bs-black);
    text-decoration: none;
}

.textBlock a {
    width: auto !important;
    align-self: flex-start;
    color: var(--bs-black);
}

.textBlock h1 {
    font-size: 1.625rem;
    font-weight: 600;
}

.h1 {
    text-decoration: none;
}

.h1:hover {
    text-underline-offset: 0.2em;
    text-decoration: 2px underline;
}

.textBlock p {
    width: 80%;
    padding-top: 15px;
    color: var(--bs-black);
    font-size: 1.375rem;
}

.paddingA {
    padding-top: 50px;
}

.paddingA:hover {
    text-decoration: 1.5px underline;
}

.linkButtonMargin {
    margin-top: 90px;
}

.mainPic {
    width: 640px;
    height: auto;
}

@media (max-width: 768px) {

    .firstSection .wrapper {
        flex-direction: column-reverse;
        justify-content: space-around;
        max-width: 100%;
        width: 100%;
    }

    .mainPic {
        width: 100vw;
        height: 100vw;
        object-fit: cover;
        padding: 10px 10px 0 10px;
    }

    .textBlock {
        width: 100%;
        padding: 10px;
        text-align: center;
        /* Выравнивание текста по центру */
    }

    .textBlock> :first-child {
        font-size: 1rem;
        margin: 0 auto;
    }

    .textBlock h1 {
        padding-top: 10px;
        font-size: 1.25rem;
    }

    .textBlock p {
        width: 100%;
        font-size: 1.125rem;
    }

    .textBlock> :nth-child(4) {
        padding-top: 0;
        padding-bottom: 10px;
        margin: 0 auto;
        font-size: 1rem;
    }

    .textBlock .linkButtonMargin {
        display: flex;
        justify-content: center;
        /* Центрирование кнопки */
        margin: 0 auto;
    }

}