/* Размеры */
.s {
    font-size: 1rem;
}

.m {
    font-size: 1.125rem;
}

.l {
    font-size: 1.25rem;
}

.xl {
    font-size: 1.375rem;
}

.xxl {
    font-size: 1.5rem;
}

/* Цвета */
.black {
    color: var(--bs-black);
}

.white {
    color: var(--bs-white);
}

.gray {
    color: var(--bs-gray-600);
}

/* Варианты font-weight */
.weightRegular {
    font-weight: 400;
}

.weightBold {
    font-weight: 700;
}

.weightLight {
    font-weight: 300;
}

/* Подчёркивание */
.underline {
    text-decoration: underline 1px;
    text-underline-offset: 0.2em;
    text-decoration-color: currentColor;
}

/* Состояния */
.tag:hover {
    opacity: 0.8;
}