.eighthSection {
    margin-top: 130px;
}

.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.title {
    color: var(--bs-black);
    text-decoration: none;
}

.title:hover {
    text-decoration: underline 1.4px;
    text-underline-offset: 0.1em;
}

.wrapper h3 {
    color: var(--bs-black);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 50px;
}

@media (max-width: 768px) {

    .eighthSection {
        margin-top: 30px;
    }

    .wrapper {
        max-width: 100vw;
        width: 100vw;
    }

    .wrapper h3 {
        font-size: 1.75rem;
        padding-bottom: 30px;
    }
}