.list {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
}

.albumCover {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.contentBlock {
    width: calc(100% - 100px); /* Ширина текстового блока зависит от ширины обложки */
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.albumTitle {
    color: var(--bs-black);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.artistName {
    font-size: 1rem;
    color: var(--color-tag);
    text-decoration: none;
}

.category {
    font-size: 0.875rem;
    color: var(--bs-gray-600);
}