.fourthSection {
    margin-bottom: 110px;
}

.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.fourthSection .wrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourthSection .wrapper h2 {
    text-align: center;
}

.container {
    margin-top: 80px;
    display: flex;
    gap: 50px;
}

@media (max-width: 768px) {

    .fourthSection {
        margin-bottom: 40px;
    }

    .wrapper {
        max-width: 100vw;
        width: 100vw;
    }

    .fourthSection .wrapper h2 {
        font-size: 25px;
        margin: 0;
    }

    .container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
}