.formBlock {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* Добавляем минимальную высоту */
    padding-bottom: 20px;
    /* Добавляем отступ снизу */
}

.formTitle {
    margin-top: 70px;
    font-size: 23px;
    font-weight: 700;
    color: var(--bs-black);
}

.inputsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Добавляем отступ между полями */
}

.checkbox {
    width: 25px;
    height: 25px;
}

.checkboxLabel {
    color: var(--bs-black);
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--bs-white);
}

.alignButton {
    margin-top: 15px;
    align-self: center;
}

.formFooter {
    margin-top: 10px;
    text-align: center;
    color: var(--bs-black);
    font-size: 18px;
}

.formLink {
    display: block;
    justify-self: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--bs-black);
}