footer {
    margin-top: 150px;
    width: 100%;
    height: 550px;
    background-color: var(--bs-black);
}

.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}



.socialMedia li a img {
    filter: brightness(0) invert(1);
}