.card {
    display: flex;
}

.image {
    width: 800px;
    height: 550px;
}

.mobileImage {
    display: none;
}

.content {
    width: clamp(490px, 30vw, 700px);
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}

.titleLink {
    color: var(--bs-black);
    text-decoration: none;
}

.title {
    margin-top: 15px;
    font-size: 28px;
    font-weight: 500;
}

.description {
    flex-grow: 1;
    margin-top: 15px;
    font-size: 21px;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .desktopImage {
        display: none;
    }

    .mobileImage {
        display: block;
        width: 100vw;
        height: 100vw;
        object-fit: cover;
        padding: 10px 10px 0 10px;
    }

    .content {
        max-width: 100vw;
        width: 100vw;
        padding: 10px 10px 0 10px;
        text-align: center;
    }

    .content> :first-child {
        font-size: 16px;
    }

    .title {
        margin: 10px 0;
        font-size: 20px;
    }

    .description {
        margin: 0 0 10px 0;
        font-size: 18px;
    }

    .content> :last-child {
        align-self: center;
    }
}