.wrapper {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    justify-content: space-evenly;
    gap: 60px;
}

.beautyItem {
    display: flex;
}

.beautyImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.titleLink {
    text-decoration: none;
    color: var(--bs-black);
}

.titleLink :hover {
    text-decoration: 1px underline;
    color: var(--bs-black);
    text-underline-offset: 0.1em;
}

.content h3 {
    font-size: 22px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .grid {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }
    
    .beautyImage {
        width: 150px;
        height: auto;
    }

    .content {
        padding-left: 15px;
    }

    .content h3 {
        font-size: 16px;
        font-weight: 400;
    }

    .content>:nth-child(1) {
        font-size: 16px;
    }

    .content>:nth-child(3) {
        font-size: 16px;
    }
}