.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    /* Расстояние между полями */
}

.label {
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 500;
    color: var(--input-color);
}

.input {
    padding: 0.5rem;
    font-size: 18px;
    border: 1px solid var(--input-color);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease;
}