.mainWrapperForAll {
    max-width: 1685px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.hrMainPage {
    width: 60%;
    max-width: 1150px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    color: var(--bs-black);
    opacity: 100;
}

.hrMainPage2 {
    width: 60%;
    max-width: 1150px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    color: var(--bs-black);
    opacity: 100;
}

@media (max-width: 768px) {

    .mainWrapperForAll {
        max-width: 100vw;
        width: 100vw;
        padding-top: 70px;
    }    

    .hrMainPage,
    .hrMainPage2 {
        width: 100%;
        margin: 25px 0;
    }
}