:root {
  /* цвета светлой темы */
  --color-tag: #CB1212;
  --hover-tag: #a10202;
  --pale-accent: #E1E5EE;
  --input-color: #484848;
  --hover-asphalt: #505050;
  /* общая коллекция бутстрап */
  --bs-black: #000;
  --bs-white: #f8f9fa !important;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
}

/* плавный переход между темами */
.App {
  width: 100%;
  height: auto;
  background-color: var(--bs-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* стиль для всех Link из react-router-dom */
a,
Link {
  width: fit-content;
}

/*================================= СТИЛИ ВСЕХ СТРАНИЦ КАТЕГОРИЙ ==================================*/

.filterPageWrapper {
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 1685px;
  width: 70%;
  margin: 0 auto;
}

.filteredList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.combinate {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  padding-top: 180px;
}

.textWrapper {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0 40px;
}

.textWrapper span:first-child {
  font-size: 36px;
  font-weight: 400;
  color: var(--bs-black);
}

.textWrapper span:last-child {
  font-size: 40px;
  font-weight: 700;
  color: var(--bs-black);
  text-transform: uppercase;
}

.block {
  height: 80px;
  background-color: var(--bs-black);
}

.block:first-child {
  border-radius: 0 4px 4px 0;
  grid-column: 1;
}

.block:last-child {
  grid-column: 3;
  border-radius: 4px 0 0 4px;
}

/* ========================================================= ТЁМНАЯ ТЕМА ======================================================================= */
[data-theme="dark"] {
  --color-tag: #F28282;
  --hover-tag: #EF3E3E;
  --pale-accent: #343a40;
  --input-color: #e9ecef;

  /* главные цвета */
  --bs-white: #181818 !important;
  --bs-black: #A2A3A2 !important;
  /* второстепенные цвета */
  --bs-gray-500: #A2A3A2 !important;
  --bs-gray-600: #C7C7C6 !important;
  --bs-gray-700: #A2A3A2 !important;
  --bs-gray-900: #e3e3e3 !important;
}

[data-theme="dark"] :hover {
  --bs-gray-900: #e3e3e3 !important;
}

[data-theme="dark"] a,
[data-theme="dark"] hr,
[data-theme="dark"] p,
[data-theme="dark"] span,
[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] button {

  --bs-black: #A2A3A2 !important;
}

/* инверсия */
[data-theme="dark"] .imgColorInvert,
[data-theme="dark"] .ColorInversion {
  filter: invert(100%) brightness(90%) contrast(80%) !important;
}

/* отключение инверсии для иконок футера */
[data-theme="dark"] .imgInvertDisable {
  filter: none;
}

@media (max-width: 768px) {

.filterPageWrapper {
  padding-top: 20px;
  max-width: 100%;
  width: 98%;
  margin: 0 auto;
}

.filteredList {
  margin-top: 10px;
}

.combinate {
  padding-top: 80px;
}

.textWrapper {
  padding: 0 30px;
}

.textWrapper span:first-child {
  font-size: 24px;
}

.textWrapper span:last-child {
  font-size: 28px;
}

.block {
  height: 50px;
}
}