.accountWrapper {
    width: 100%;
    height: auto;
}

.topPart {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.justify {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
}

.column > :first-child {
    text-decoration: 1.2px underline;
    text-underline-offset: 0.2rem;
    margin-bottom: 20px;
    color: var(--bs-black);
    font-size: 25px;
}

.column {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.userBlock img {
    width: 300px;
    height: 300px;
}

.name {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

.buttonGroup > :first-child {
    align-self: center;
}

.buttonGroup > :last-child {
    align-self: center;
    color: var(--color-tag);
    font-weight: 700;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
    margin-top: 20px;
}

.bottomPart {
    width: 100%;
    background-color: var(--bs-black);
    padding-bottom: 50px;
}

.bottomPart .subscriptionBlock {
    max-width: 1685px;
    width: 89%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.subscriptionBlock h3 {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 600;
    color: var(--bs-white);
}

.subscriptionBlock p {
    width: 50%;
    font-size: 25px;
    font-weight: 320;
    color: var(--bs-white);
}

.subscriptionBlock form > :first-child {
    width: 35%
}

.checkbox {
    width: 18px;
    height: 18px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--bs-white);
}

.subscriptionBlock form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.subscriptionBlock form > :last-child {
    align-self: flex-start;
    background-color: var(--bs-white);
    color: var(--bs-black);
    font-weight: 500;
}

@media (max-width: 768px) {
    .column {
        display: none;
    }

    .topPart {
        margin-top: 90px;
    }

    .userBlock {
        width: 95%;
        margin: 0 auto;
    }

    .name {
        font-size: 25px;
    }

    .userBlock img {
        width: 200px;
        height: 200px;
    }

    .subscriptionBlock h3 {
        margin-top: 50px;
        font-size: 30px;
    }
    
    .subscriptionBlock p {
        margin-top: 10px;
        width: 100%;
        font-size: 22px;
    }

    .subscriptionBlock form {
        gap: 15px;
        margin-top: 20px;
    }

    .subscriptionBlock form > :first-child {
        width: 100%
    }
}